{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}

<section class="articles">
    <h2>Titre du projet</h2>
    <div class="content">
    <p>Lorem</p>
    <a href="{{ path('blog_show') }}" class="btn btn-primary">Voir en détail</a>


</section>

{% endblock %}
