{% extends 'base.html.twig' %}

{% block body %}

<section class="articles">
    <h2>Titre du projet</h2>
    <div class="content">
    <p>Lorem</p>
    <hr>
    <p>
    Lorem
    </p>



</section>

{% endblock %}